@import 'mixin.scss';

@font-face {
  font-family: 'bilbao';
  src: url('../fonts/bilbao-webfont.eot');
  src: url('../fonts/bilbao-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bilbao-webfont.woff2') format('woff2'),
  url('../fonts/bilbao-webfont.woff') format('woff'),
  url('../fonts/bilbao-webfont.ttf') format('truetype'),
  url('../fonts/bilbao-webfont.svg#bilbaoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'andralis';
  src: url('../fonts/andralisndosf-webfont.eot');
  src: url('../fonts/andralisndosf-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/andralisndosf-webfont.woff2') format('woff2'),
  url('../fonts/andralisndosf-webfont.woff') format('woff'),
  url('../fonts/andralisndosf-webfont.ttf') format('truetype'),
  url('../fonts/andralisndosf-webfont.svg#andralis_nd_osfregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-image: url('../images/pattern-bg.jpg');
  background-position: center top;
  background-size: 100% auto;
  border-top: solid (10em/16) #FD0000;
}

.site {
  margin: 0;
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.wrapper-index {
  width: 90%;
}

#header {
  margin-top: (46em/16);

  .logo {
    a {
      width: (205em/16);
      height: (63em/16);
      background: url("../images/logo.png");
      display: block;
      text-indent: -9999px;
    }
  }
  .menu {
    margin-top: (10em/16);
    a {
      width: (37em/16);
      height: (44em/16);
      background: url("../images/mobile-menu.png");
      display: block;
      text-indent: -9999px;
    }
  }
}

.social {
  display: block;
  margin-top: (10em/16);
  li {
    float: left;
    list-style: none;
    margin-right: (10em/16);
    .icon {
      width: (44em/16);
      height: (44em/16);
      background-image: url('../images/social-icon.png');
      display: block;

      &.oleo {
        background-position: 0px -53px;
        &:hover {
          background-position: 0 0;
        }
      }

      &.tripadvisor {
        background-position: -55px -53px;
        &:hover {
          background-position: -55px 0;
        }
      }

      &.google {
        background-position: -109px -53px;
        &:hover {
          background-position: -109px 0;
        }
      }

      &.facebook {
        background-position: -162px -53px;
        &:hover {
          background-position: -162px 0;
        }
      }
    }
  }
}

.site {
  height: 100%;
}

.menu-wrapper {
  background: url("../images/pattern-bg-verde.jpg");
  background-size: auto 25%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: (10em/16);
    left: 0;
    top: (-10em/16);
    background: #FDCA33;
  }
}

.page-tpl {
  #header {
    .logo {
      a {
        background: url("../images/logo-white.png");
      }
    }
    .menu {
      margin-top: (10em/16);
      a {
        background: url("../images/mobile-menu-white.png");
      }
    }
  }
}

.page-title {
  font-family: bilbao;
  font-size: (30em/16);
  margin-top: (60em/30);
  margin-bottom: (40em/30);
}

.paragraph {
  font-family: andralis;
  margin: (50em/16) 9%;
  line-height: (22em/16);
}

.section-img {
  position: relative;
  box-shadow: 10px 25px 40px -16px #000;
  width: 125%;
  z-index: 999;

  &:before {
    position: absolute;
    top: 38%;
    right: -50%;
    content: "";
    z-index: 99999;
    background-size: contain !important;
  }

  &.history-img-1 {

    &:before {
      width: (338em/16);
      height: (146em/16);
      background: url("../images/history-img-legend-1.png") no-repeat;
    }

  }
  &.history-img-2 {
    &:before {
      width: (377em/16);
      height: (127em/16);
      background: url("../images/history-img-legend-2.png") no-repeat;
    }
  }
}

.content {
  box-sizing: border-box;
  margin: 0 7%;
}

.wines-list {
  margin: (50em/16) 10% 0 20%;
  font-family: andralis;
  >li{
    border-bottom: solid 1px #000000;
    margin-bottom: (20em/16);
    &:last-child{
      border-bottom:none;
    }
  }
  .wines-details {
    .wine-title {
      color: #ED1C24;
      font-size: (24em/16);
      font-weight: bold;
    }

    .wine-description{
      p{
        margin: (20em/16) 0;
      }
    }
  }
}
