@font-face {
  font-family: 'eurostile';
  src: url("../fonts/eurostile.eot?#iefix") format("embedded-opentype"), url("../fonts/eurostile.woff") format("woff"), url("../fonts/eurostile.ttf") format("truetype"), url("../fonts/eurostile.svg#AGaramondPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'myriad';
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0; }

.bx-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  background: #F1EFEB !important; }
  .bx-wrapper .bx-viewport {
    width: 70% !important;
    background: none !important;
    margin: 0 auto !important;
    border: none;
    box-shadow: none;
    left: 0;
    transform: translateZ(0px);
    background: transparent; }
    .bx-wrapper .bx-viewport .bx-loading {
      background: transparent; }
  .bx-wrapper .bx-controls .bx-prev {
    left: 5% !important; }
  .bx-wrapper .bx-controls .bx-next {
    right: 5% !important; }

a {
  color: #000;
  text-decoration: none; }

.banner {
  border: none !important; }

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1360px; }

.top-bar {
  position: relative;
  margin-bottom: 2.35294em; }
  .top-bar .logo {
    margin: 0 auto;
    display: table; }
  .top-bar .social {
    font-size: 1.0625em;
    position: absolute;
    top: 3.52941em;
    right: 0;
    font-family: eurostile;
    letter-spacing: 0.11765em; }
    .top-bar .social li {
      text-align: right;
      margin-bottom: 0.17647em;
      display: block !important; }

.banner_wrapper .banner img {
  height: auto; }

.menu-header-menu-container {
  margin-bottom: 1.5625em;
  margin-top: 2.6875em; }
  .menu-header-menu-container .menu {
    display: table;
    width: 74%;
    margin: 0 auto; }
    .menu-header-menu-container .menu .menu-item {
      position: relative; }
    .menu-header-menu-container .menu li {
      float: left;
      display: table;
      font-family: eurostile;
      text-transform: uppercase;
      font-size: 1.0625em;
      letter-spacing: 0.11765em;
      margin: 0 3.5%; }
      .menu-header-menu-container .menu li:first-child {
        margin-left: 0; }
      .menu-header-menu-container .menu li:last-child {
        margin-right: 0; }
      .menu-header-menu-container .menu li.current-menu-item:before {
        border-bottom: 15px solid #F1EFEB;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        height: 0;
        width: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        content: "";
        bottom: -1.5625em;
        z-index: 10; }
      .menu-header-menu-container .menu li.current-menu-item a {
        font-weight: bold; }

.home-img {
  margin-bottom: 1.125em; }
  .home-img img {
    width: 100%; }

#footer {
  font-family: eurostile;
  font-size: 0.875em;
  letter-spacing: 0.14286em;
  text-align: center;
  margin: 2.5em auto 3.21429em; }
  #footer .img-footer {
    margin-right: 1%; }

.product-list {
  opacity: 0; }
  .product-list .prod-detail {
    font-size: 0.875em;
    padding: 3.57143em 0;
    font-family: myriad;
    text-transform: uppercase; }
    .product-list .prod-detail li {
      text-align: center; }
      .product-list .prod-detail li figure {
        width: 100%;
        height: 15.625em;
        position: relative; }
        .product-list .prod-detail li figure img {
          position: absolute;
          bottom: 0;
          margin: auto;
          max-height: 15.625em;
          left: 0;
          right: 0; }
    .product-list .prod-detail .code {
      margin-top: 0.71429em; }

.article {
  padding: 5% 10%;
  font-family: myriad; }
  .article .details-img {
    float: left;
    width: 12%;
    margin-right: 10%; }
  .article .principal-img {
    float: left;
    width: 45%; }
    .article .principal-img .prod-img {
      max-height: 25em;
      margin: 0 auto;
      display: table; }
  .article .details {
    float: right;
    margin-top: 6.25em;
    width: 25%; }
    .article .details h1.title {
      text-transform: uppercase;
      font-size: 1.125em;
      margin-bottom: 1.38889em; }
    .article .details .description {
      margin-bottom: 0.625em; }
      .article .details .description p {
        margin: 0; }
      .article .details .description .title {
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: bold; }
      .article .details .description .content {
        font-size: 1.125em;
        margin: 0; }
    .article .details .colours {
      margin-bottom: 1.5625em; }
      .article .details .colours .color {
        width: 1.875em;
        height: 1.875em;
        float: left;
        margin-right: 0.625em; }
    .article .details .weight .title {
      font-size: 1.125em;
      font-weight: bold; }
  .article .thumbnails li {
    margin-bottom: 0.625em; }

#main {
  position: relative;
  margin-bottom: 2.6875em; }
  #main #product-container {
    border-top: solid 5px #C0D5C4;
    margin-top: 0.125em;
    z-index: 99999;
    display: none;
    background: #FFFFFF;
    width: 100%; }
    #main #product-container .close {
      float: right;
      cursor: pointer;
      font-size: 1.5em;
      margin: 0.625em;
      font-family: myriad;
      font-weight: bold;
      color: #C0D5C4; }

.quienes-somos {
  background: #F1EFEB;
  font-family: myriad;
  padding: 1.875em 7% 8.75em; }

/*# sourceMappingURL=style.css.map */
